---
layout: home
main_image_path: /assets/images/sunset-beach.jpg
main_image_caption: Sunset on Brighton beach
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  main_image_path: Image used to represent your page

---

    <div class="editable">
    <p>As a Consultant Psychologist and psychotherapist I have worked with hundreds of patients and understand the courage it takes to face one’s emotions. My specialities are in working with trauma (PTSD - Post Traumatic Stress Disorder), complex trauma, dissociative disorders, childhood abuse, depression and anxiety, couples therapy as well as relationship issues for individuals, and clinical supervision.</p>
    </div>


      <!-- Regular page promotions on front page -->
      {% for section in site.pages %}

      {% if section.frontpage %}

        {% if section.main_image_path %}
          <section class="gallery-cover has-cover" style="background-image: url({{ section.main_image_path }});">
        {% else %}
          <section class="gallery-cover has-cover" style="background-image: url('http://placekitten.com/g/1200/300');">
        {% endif %}
            <a href="{{ section.url | prepend: site.baseurl }}">
              <div class="scrim has-cover">
                <article class="gallery--front">
                  <header class="gallery-header">
                    <h2 class="title">{{ section.frontpagetitle }}</h2>
                  </header>
                  {% if section.homepage_description_markdown: %}
                    {{ section.homepage_description_markdown:  | markdownify }}<br>
                    <span class="readmore">Read more <span>{{nextPost.title}} <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg></span>

                  {% endif %}
              </article>
            </div>
            </a>
          </section>

      {% endif %}

    {% endfor %}


