---
layout: home
main_image_path: /assets/images/sunset-beach.jpg
main_image_caption: Sunset on Brighton beach
profile_image_path: /assets/images/shawnkatz.jpg
profile_image_caption:
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: "contain"
    mime_type: "image/jpeg"
_comments:
  main_image_path: Image used to represent your page
  profile_image_path: Portrait photo
---


    <div class="editable">
    <p>As a Consultant Psychologist and psychotherapist I have worked with hundreds of patients and understand the courage it takes to face one’s emotions. My specialities are in working with trauma (PTSD - Post Traumatic Stress Disorder), complex trauma, dissociative disorders, childhood abuse, depression and anxiety, couples therapy as well as relationship issues for individuals, and clinical supervision.</p>
    </div>
  <section class="halves">
    {% for section in site.pages %}

      {% if section.frontpage %}


         <article class="half">

            <a href="{{ section.url | prepend: site.baseurl }}">

                  {% if section.main_image_path %}
                    <figure class="nomargin">
                    {% include img.html src=section.main_image_path width=1200 max-h=300 fit=crop alt=section.frontpagetitle %}
                    </figure>
                  {% endif %}
                  <h2 class="title title--plain nomargin">{{ section.frontpagetitle }}</h2>
                  {% if section.homepage_description_markdown: %}
                    {{ section.homepage_description_markdown:  | markdownify }}
                    <span class="readmore">Read more </span> <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg>
                  {% endif %}

            </a>

          </article>


      {% endif %}

    {% endfor %}
</section>
<div class="editable">
  <ul class="no-list nomargin">
    <li>Chartered &amp; Registered Counselling Psychologist (HCPC)</li>
    <li>Transpersonal and Integrative Psychotherapist (UKCP) </li>
    <li>Accredited EMDR Consultant (EMDR Europe &amp; EMDR UK &amp; Ireland)</li>
    <li>Associate Fellow and Registered Supervisor of British Psychological Society (BPS)</li>
    <li>Professional Member of International Society for Traumatic Stress Studies</li>
    <li>European Society for Traumatic Stress Society, and UK Psychological Trauma Society Member, ICEEFT and BEFTC (for Emotionally Focused Couples Therapy), Accredited Voluntary Register Scheme </li>
    <li>Registered to accept payment with private insurers; Aviva, Bupa &amp; AXA-PPP </li>
    <li>Office in Brighton &amp; Hove, East Sussex, UK</li>
  </ul>
</div>
