---
layout: home
main_image_path: /assets/images/whatsapp-image-2017-11-14-at-15-48-31-2.jpg
main_image_caption: Sunset on Brighton beach
profile_image_path: /assets/images/shawnkatz.jpg
profile_image_caption:
quote: >-
  "We may or may not be able to change our outer circumstances, but with
  awareness we can always change our inner attitude, and this is enough to
  transform our life."
cite: Jack Kornfield
_options:
  main_image_path:
    width: 1200
    height: 1200
    resize_style: contain
    mime_type: image/jpeg
    correct_orientation: true
_comments:
  main_image_path: Image used to represent your page
  profile_image_path: Portrait photo
---

<div class="editable">
          <p>As a <strong>Consultant Psychologist</strong> and psychotherapist I have worked with hundreds of patients and understand the courage it takes to face one&rsquo;s emotions. My specialities are in working with trauma (PTSD - Post Traumatic Stress Disorder), complex trauma, dissociative disorders, childhood abuse, depression and anxiety, couples therapy as well as relationship issues for individuals, and clinical supervision.</p>
        </div>

  <section class="halves">
    {% for section in site.pages %}

      {% if section.frontpage %}

         <article class="half section-link">

            <a href="{{ section.url | prepend: site.baseurl }}" class="link-nocolor">

              {% if section.main_image_path %}
                <figure class="nomargin">
                {% include img.html src=section.main_image_path width=960 max-h=300 fit=clip alt=section.frontpagetitle %}
                </figure>
              {% endif %}
              <h2 class="title title--plain nomargin">{{ section.frontpagetitle }}</h2>
              {% if section.homepage_description_markdown: %}
                {{ section.homepage_description_markdown:  | markdownify }}
                <span class="readmore">Read more </span> <svg class="icon"><use xlink:href="#icon-double_angle_right" /></svg>
              {% endif %}

            </a>

          </article>

      {% endif %}

    {% endfor %}
  </section>

    <!-- quote -->
  {% if page.quote %}
    <blockquote>
      <p>{{ page.quote }}</p>
      <cite>{{ page.cite }}</cite>
    </blockquote>
  {% endif %}

<div class="editable">
  <ul class="no-list nomargin">
    <li>Chartered &amp; Registered Counselling Psychologist (HCPC)</li>
    <li>Transpersonal and Integrative Psychotherapist (UKCP) </li>
    <li>Accredited EMDR Consultant (EMDR Europe &amp; EMDR UK &amp; Ireland)</li>
    <li>Associate Fellow and Registered Supervisor of British Psychological Society (BPS)</li>
    <li>Professional Member of International Society for Traumatic Stress Studies</li>
    <li>European Society for Traumatic Stress Society, and UK Psychological Trauma Society Member, ICEEFT and BEFTC (for Emotionally Focused Couples Therapy), Accredited Voluntary Register Scheme </li>
    <li>Registered to accept payment with private insurers; Aviva, Bupa &amp; AXA-PPP </li>
    <li>Office in Brighton &amp; Hove, East Sussex, UK</li>
  </ul>
</div>
