<footer class="site-footer">

  <div class="wrapper">

    <div class="logos">
      <p>Registered and accredited with</p>
      <ul class="no-list inline">
        <li><a href="http://hpc-uk.org/">{% include img.html src="/assets/images/hcpd-logo.png" max-w=400 alt="HPCP logo" %}</a></li>
        <li><a href="https://www.psychotherapy.org.uk/">{% include img.html src="/assets/images/ukcp-logo.png" max-w=400 alt="UKCP logo" %}</a></li>
        <li><a href="http://emdrassociation.org.uk/">{% include img.html src="/assets/images/emdr-logo.png" max-w=400 alt="EMDR logo" %}</a></li>
        <li><a href="http://www.bps.org.uk/">{% include img.html src="/assets/images/bps-logo.png" max-w=400 alt="BPS logo" %}</a></li>
        <li>{% include img.html max-w=400 src="/assets/images/accredited-register.png" alt="Accredited Voluntary Register Scheme" %}</li>
      </ul>
    </div>

    <div class="site-signature small center">
      <p class="text">&copy; All work copyright Shawn Katz.<br />
      <a href="https://www.eyedivision.com">{% include img.html src="/assets/eyegallery-box-trans.png" alt="Eye Division site" %}</a><br />site by <a href="https://www.eyedivision.com">Eye Division</a></p>
    </div>


  </div>

</footer>

<!-- Scripts -->
{% if site.recaptcha_site_key %}
<script src="//www.google.com/recaptcha/api.js" async defer></script>
{% endif %}
<script defer src="//cdnjs.cloudflare.com/ajax/libs/fitvids/1.1.0/jquery.fitvids.min.js"></script>
<script src="/js/jquery.flexslider-min.js" defer></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>
<script src="/js/main.js"></script>

{% if site.ga_tracking_id %}
<!-- Google Analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ site.ga_tracking_id }}', 'auto');
  ga('send', 'pageview', {
    'page': '{{ page.url }}',
    'title': "{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}"
  });
</script>
{% endif %}
