<div class="location-strip">
    <div class="quarter small">
    <p><span class="icon-text">&#936;</span><br>
    Consultant Psychologist &amp; Psychotherapist<br>
    SHAWN KATZ, Ph.D.</p>
  </div>
  <div class="quarter small">
    <svg class="icon icon-home"><use xlink:href="#icon-home" /></svg><p>37A Lansdowne Place<br>
      Hove, East Sussex<br>
    BN3 1HF</p>
  </div>
  <div class="quarter small">
    <svg class="icon icon-clock"><use xlink:href="#icon-clock" /></svg><p>Monday – Friday<br>
      8:30 -17:30</p>
  </div>
  <div class="quarter small">
    <svg class="icon icon-envelope"><use xlink:href="#icon-envelope" /></svg><p>07766 707531<br>
      01273 875961<br>
    shawnkatz@btinternet.com</p>
  </div>
</div>