// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.logos {
  text-align: center;
  ul {
      @include display(flex);
      @include flex-wrap(wrap);
      @include justify-content(center);
    }
    img {
        max-width: 16em;
    }

}

.site-footer {
    width: 100%;
    //@include outer-container;
    padding: 1em;
    background-color: $white;
    .wrapper {
        //@include outer-container;
        padding: 0 1em;
    }
    a {
        //color: $link-color;
        &:active,
            &:focus,
            &:hover {
            //color: shade($link-color, 10%);
        }
        &:active,
            &:focus {
            outline: none;
        }
    }
    @include media ($medium) {
       padding: 1em 0;
    }
}

///  Site Navigation (left)

.site-navigation {
    ul {
        @extend %default-ul;
    }
}

///   Site Description/Signature (right)

.site-signature {
    a {
        text-decoration: underline;
    }
}

///   Contact Info (center)

.site-contact {

    i {
        width: 1.25em;
        text-align: center;
    }
    ul {
        @extend %default-ul;
    }
}
.site-copyright {
    text-align: center;
}