// -----------------------------------------------------------------------------
// This file contains all styles related to the header
// -----------------------------------------------------------------------------

/// logo
.logo {
    display: block;
    color: $base-font-color;
    //text-shadow: 0 2px 1px rgba(0,0,0,0.8) !important;
    //background: rgba($navigation-color, 0.8);
    //padding: 0 0.5em;
    @include media ($small) {
        padding: 0;
        //width: 40%;
    }
    //float: left;
    //height: 6em;

    span {
        font-size: 1.25em;
    }
    .site-title {
        margin-bottom: 0;
    }
    .subtitle {
        color: tint($action-color,0.2);
        font-family: $subheading-font-family;
        //font-style: italic;
        font-size: modular-scale(2);
    }
    &:active,
    &:focus,
    &:hover {
        text-decoration: none;
        //color: shade($link-color, 10%);
    }
    &:active,
    &:focus {
        outline: none;
    }
}
.location-strip {
    display: block;
    border-top: $base-border;
    padding: 1em 0;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-gap: 10px;

    @include media ($medium-screen) {
        grid-template-columns: 25% 25% 25% 25%;
    }
}
.location-strip::after {
    border-bottom: $base-border;
}